<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView_Paging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39A1CD651CD5D3C600A60C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39A1CD7E1CD5D3C600A60C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39A1CD891CD5D3C600A60C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
